/*Entire document rules*/

body {
	margin: 0 auto;
}

main {
	margin: 0;
	border: 0;
	padding: 0;
	/*padding-top: 100px;*/
}

/* Base Styles - changed from skeleton.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Open Sans', 'Montserrat', sans-serif;
  color: #666666; }

/*Assigning header font vs paragraph fonts*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

p, ul, li {
	font-family: 'Montserrat', sans-serif;
}

hr {
	text-align: center;
	min-height: 1px;
	width: 70%;
	background-color: #4ebbeb;	
}


/*Specific styling rules*/

/*Header*/

.header_v1 {
	display: none;
}


/* Larger than mobile */
@media (min-width: 400px) {
	.header_v1 {
		display: unset;
		position: absolute;
		width: 100%;
		height: 100px;
		background-color: transparent;
	}

	.header_v1 a {
		display: inline-block;
	}

	.header_v1 img {
		width: 100%;
		padding: 20px 0;
	}

	.header_v1 nav {
		display: inline-block;
		position: absolute;
		right: 30px;
		top: 23px;
		font-size: 18px;
	}

	.header_v1 ul, li {
		display: inline-block;
		list-style-type: none;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 0;
	}

	.header_v1 li {
		/*padding: 10px;*/
		text-transform: uppercase;
		font-weight: 900;
	}

	.nav_items_standard a,
	.nav_items_smart a {
		text-decoration: none;
		color: white;
		padding: 10px;

	}

	.nav_items_standard a:hover,
	.nav_items_smart a:hover {
		color: #4ebbeb;
	}

	.nav_items_smart {
		border: 1px solid #DDDDDD;
		border-radius: 10%;
	}
}


/*Home Page*/

.hero_v1 {
	background-image: url("../assets/images/home_page/hero_keyhandoff_v2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 55% center;
	width: 100%;
	height: 375px;
	margin-bottom: 30px;
}

.hero_v1 div {
	position: relative;
	width: 300px;
	top: 55%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.hero_v1 h1 {
	color: white;
	text-align: center;
	font-size: 24px;
}

.hero_v1 a.button {
	background-color: #4ebbeb;
	border-color: #4ebbdb;
	height: 40px;
	font-size: 15px;
}

.introducing h2 {
	font-size: 3.0rem;
	text-align: center;
}

.what_we_offer {
	text-align: center;
	box-sizing: border-box;
}

.icon_bin {
	display: inline-block;
	width: 29%;
	vertical-align: top;
	padding-right: 5px;
	padding-left: 5px;
}

.icon_bin img {
	max-width: 100%;
	margin-bottom: 10px;
}

.icon_bin p {
	text-transform: uppercase;
	font-size: 12px;
}

.hiw_step1 {
	text-align: center;
	box-sizing: border-box;
}

.hiw_step1 h3 {
	text-transform: uppercase;
}

.hiw_step1 h3::first-letter {
	color: #4ebbeb;
	font-weight: bold;
}

.hiw_step1 p {
	margin-bottom: 0;
}

.icon_bin_4 {
	display: inline-block;
	width: 21%;
	vertical-align: top;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 2.5rem;
}

.icon_bin_4 img {
	max-width: 100%;
	margin-bottom: 10px;
}

.icon_bin_4 p {
	text-transform: uppercase;
	font-size: 12px;
}

/* Larger than mobile */
@media (min-width: 400px) {
	.hero_v1 {
		background-image: url("../assets/images/home_page/hero_keyhandoff_v2.jpg");
		background-size: contain;
		background-position: initial;
		background-repeat: no-repeat;
		max-width: 1500px;
		width: 100%;
		height: 300px;
		padding-top: 22%;
	}

	.hero_v1 div {
		position: static;
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.hero_v1 h1 {
		color: white;
		text-align: center;
		font-size: 5.0rem;
	}

	.icon_bin {
		display: inline-block;
		width: 18%;
		vertical-align: top;
		padding-right: 5px;
		padding-left: 5px;
	}

	.icon_bin p {
		font-size: 18px;
	}

	.introducing h2 {
		font-size: 4.2rem;
	}

	.introducing p {
		font-size: 2.0rem;
	}
}