/*Entire document rules*/

body {
	margin: 0 auto;
}

main {
	margin: 0;
	border: 0;
	padding: 0;
	padding-top: 70px; /*so that the fixed menu shows up properly on mobile!*/
}

/* Base Styles - changed from skeleton.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Open Sans', 'Montserrat', sans-serif;
  color: #666666; }

/*Assigning header font vs paragraph fonts*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

p, ul, li {
	font-family: 'Montserrat', sans-serif;
}

hr {
	text-align: center;
	min-height: 1px;
	width: 70%;
	background-color: #4ebbeb;	
}

/*input[type="submit"].button-primary {
	background-color: #4ebbeb;
	border-color: #4ebbeb;
}*/


/*Specific styling rules*/

/*Header*/

.header_v1 {
	display: none;
}


/* HEADER RULES OUT OF PLACE NOW FIX LATER ------------------------------------------------------------------------------------------OUT OF PLACE*/ 
@media (min-width: 1000px) {
	.header_v1 {
		display: unset;
		position: absolute;
		width: 100%;
		height: 100px;
		background-color: transparent;
	}

	.header_v1 a {
		display: inline-block;
	}

	.header_v1 img {
		width: 100%;
		padding: 20px 0;
	}

	.header_v1 nav {
		display: inline-block;
		position: absolute;
		right: 30px;
		top: 23px;
		font-size: 18px;
	}

	.header_v1 ul, li {
		display: inline-block;
		list-style-type: none;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 0;
	}

	.header_v1 li {
		/*padding: 10px;*/
		text-transform: uppercase;
		font-weight: 900;
	}

	.nav_items_standard a,
	.nav_items_smart a {
		text-decoration: none;
		color: white;
		padding: 10px;

	}

	.nav_items_standard a:hover,
	.nav_items_smart a:hover {
		color: #4ebbeb;
	}

	.nav_items_smart {
		border: 1px solid #DDDDDD;
		border-radius: 10%;
	}
}


/*Home Page*/

main h1 {
	font-size: 24px;
}

main h2 {
	font-size: 3.5rem;
}

.header_v2 {
	/*position: absolute;*/
	position: fixed;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 0 5px 0 rgba(0,0,0,0.1);
	width: 100%;
	height: 70px;
	/*background-color: transparent;*/
	transition: all 250ms, background-color 500ms;
	z-index: 500;
}

.header_v2 a.brand {
	display: inline-block;
	width: 160px;
	position: absolute;
	top: 11px;
	left: 20px;
}

.header_v2 input[type='checkbox'].menu_button {
	display: none;
}

.header_v2 label {
	display: inline-block;
	width: 20px;
	position: absolute;
	right: 25px;
	top: 23px;
	padding-bottom: 20px;
	padding-left: 20px;
	cursor: pointer;
}

/*.header_v2 a.menu_button {
	display: inline-block;
	width: 20px;
	position: absolute;
	right: 25px;
	top: 23px;
	padding-bottom: 20px;
	padding-left: 20px;
}*/

.header_v2 img {
	max-width: 100%;
}

.header_v2 span.hamburger {
	background-image: url("../assets/images/header/icon-hamburger@2x.png");
	display: block;
	background-size: 100%;
	width: 20px;
	height: 14px;
}

/*HIDING NAV PANEL BEFORE CLICK FOR MOBILE*/
.nav_panel_mobile {
	display: none;
}

.nav_panel_mobile a {
	color: white;
}

.nav_panel_mobile.expand {
	display: unset;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(78,187,235,0.95);
	/*padding: 20px;*/
}

.nav_panel_mobile.expand span.hamburger {
	background-image: url("../assets/images/header/icon-close@2x.png");
	height: 20px;
}

.nav_panel_mobile.expand img {
	display: inline-block;
	width: 160px;
	position: absolute;
	top: 11px;
	left: 20px;
}

.nav_panel_mobile.expand div {
	height: 70px;
	margin-bottom: 20px;
}

.nav_panel_mobile.expand ul {
	list-style: none;
}

.nav_panel_mobile .nav_items_standard {
	padding-left: 30px;
}

.hero_v1 {
	background-image: url("../assets/images/home_page/hero_keyhandoff_v2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 55% center;
	width: 100%;
	height: 375px;
	margin-bottom: 30px;
}

.hero_v1 div {
	position: relative;
	width: 300px;
	top: 55%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.hero_v1 h1 {
	color: white;
	text-align: center;
}

.hero_v1 a.button {
	background-color: #4ebbeb;
	border-color: #4ebbdb;
	height: 40px;
	font-size: 15px;
}

.introducing h2 {
	text-align: center;
}

.what_we_offer {
	text-align: center;
	box-sizing: border-box;
}

.icon_bin_wwo {
	display: inline-block;
	width: 29%;
	vertical-align: top;
	padding-right: 5px;
	padding-left: 5px;
}

.icon_bin_wwo img {
	max-width: 100%;
	margin-bottom: 10px;
}

.icon_bin_wwo p {
	text-transform: uppercase;
	font-size: 12px;
}

.hiw_step1 {
	text-align: center;
	box-sizing: border-box;
}

.hiw_step1 h3 {
	text-transform: uppercase;
}

.hiw_step1 h3::first-letter {
	color: #4ebbeb;
	font-weight: bold;
}

.hiw_step1 p {
	margin-bottom: 0;
}

.icon_bin_4 {
	display: inline-block;
	width: 21%;
	vertical-align: top;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 2.5rem;
}

.icon_bin_4 img {
	max-width: 100%;
	margin-bottom: 10px;
}

.icon_bin_4 p {
	text-transform: uppercase;
	font-size: 12px;
}

.icon_bin_3 {
	display: inline-block;
	width: 29%;
	vertical-align: top;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 2.5rem;
}

.icon_bin_3 img {
	max-width: 100%;
	margin-bottom: 10px;
}

.icon_bin_3 p {
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 0;
}

.hiw_step3 {
	text-align: center;
	box-sizing: border-box;
}

.hiw_step3 h3 {
	text-transform: uppercase;
}

.hiw_step3 h3::first-letter {
	color: #4ebbeb;
	font-weight: bold;
}

.coverage_banner {
	background-image: url("../assets/images/home_page/service_area_banner_ v4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.coverage_banner div {
	padding: 20px 10px 20px 10px;
}

.coverage_banner a.button {
	height: 40px;
	font-size: 15px;
}

.coverage_banner h3 {
	color: white;
}

.yelp {
	text-align: center;
}

.yelp h3 {
	text-align: center;
}

.yelp_bin {
	display: inline-block;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.yelp_bin h4, .yelp_bin h5, .yelp_bin img {
	text-align: center;
}

.yelp_bin h4 {
	font-weight: bold;
	color: black;
	margin-bottom: 10px;
}

.yelp_bin img {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.yelp_bin p {
	color: #89888e;
}

.insurance {
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #777777;
	margin-bottom: 20px;
}

.insurance img {
	margin-bottom: 10px;
	max-width: 100%
}

.insurance p {
	margin-bottom: 0;
}

footer {
	background: url("../assets/images/footer/transparent_footer.png") center top no-repeat fixed #2c2d30;
	width: 100%;
	height: auto;
}

.connect_banner {
	width: 100%;
	height: 60px;
	background-color: #4ebbeb;
	text-align: center;
	padding-top: 25px;
}

.connect_banner h3 {
	color: white;
	text-transform: uppercase;
	font-size: 25px;
}

.footer_content {
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer h5 {
	text-align: center;
	text-transform: uppercase;
}

.footer h5, .footer p, .footer a {
	color: white;
}

.connect_link {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.social_link {
	display: inline-block;
}

.social_link:hover {
	border-bottom: 10px solid #4ebbeb;
}

.footer a {
	text-decoration: none;
}

.footer a:hover {
	color: #4ebbeb;
}

.social_bin {
	text-align: center;
	margin-bottom: 20px;
}

.social_bin img {
	background-color: rgba(255, 255, 255, 0.15);
}

input[type="submit"].footer_button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footer_ending {
	width: 100%;
	border-top: 1px solid #666666;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.footer_ending a {
	display: inline-block;
	margin-bottom: 10px;
}

.footer_ending img {
	max-width: 50px;
}

.footer_ending p {
	margin-bottom: 0;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	main {
		padding-top: 0;
	}

	main h1 {
		font-size: 35px;
	}

	main h2 {
		font-size: 3.5rem;
	}

	.header_v2 {
		position: absolute;
		background-color: transparent;
		box-shadow: none;
	}

	.header_v2.sticky {
		position: fixed;
		background-color: rgba(255, 255, 255, 0.95);
		box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 0 5px 0 rgba(0,0,0,0.1);
	}

	.header_v2 span.hamburger {
		background-image: url("../assets/images/header/icon-hamburger-white@2x.png");
	}

	.header_v2.sticky span {
		background-image: url("../assets/images/header/icon-hamburger@2x.png");
	}

	.hero_v1 div {
		width: 450px;
	}

	.hero_v1 a.button {
		font-size: 20px;
	}

	.icon_bin_wwo {
		width: 17%;
	}

	.yelp_bin {
		width: 47%;
	}

	.insurance {
		border-top: 1px solid #777777;
		border-bottom: 1px solid #777777;
		border-right: 0;
		border-left: 0;
	}

	.insurance img {
		margin-bottom: 0;
		max-width: 128px;
		margin-bottom: 2%;
		margin-top: 2%;
	}

	.insurance p {
		font-size: 20px;
		margin-bottom: 4%;
		margin-top: 4%
	}

	input[type="submit"].footer_button {
		margin-left: 0;
	}

	.footer_ending a {
		margin-bottom: 0;
	}

	.footer_ending p {
		margin-top: 15px;
	}

	.fe_align1 {
		text-align: left;
	}

	.fe_align2 {
		text-align: right;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {
	main h1 {
		font-size: 40px;
	}

	main h2 {
		font-size: 3.8rem;
	}

	.hero_v1 {
		background-position: center center;
	}

	.hero_v1 div {
		width: 650px;
		top: 50%;
	}

	.hero_v1 h1 {
		/*font-size: 40px;*/
	}

	.hero_v1 a.button {
		font-size: 25px;
		height: 50px;
		padding-top: 3px;
	}

	.coverage_banner a.button {
		font-size: 20px;
		height: 45px;
		padding-top: 2px;
	}

	.coverage_banner {
		height: 200px;
		padding-top: 50px;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.hero_v1 {
		background-image: url("../assets/images/home_page/hero_keyhandoff_v2.jpg");
		background-size: contain;
		background-position: initial;
		background-repeat: no-repeat;
		max-width: 1500px;
		width: 100%;
		height: 300px;
		padding-top: 22%;
	}

	.hero_v1 div {
		/*position: static;*/
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		top: 10%;
	}

	.hero_v1 h1 {
		color: white;
		text-align: center;
		font-size: 5.0rem;
	}

	.icon_bin_wwo {
		display: inline-block;
		width: 18%;
		vertical-align: top;
		padding-right: 5px;
		padding-left: 5px;
	}

	.icon_bin_wwo p {
		font-size: 18px;
	}

	.introducing h2 {
		font-size: 4.2rem;
	}

	.introducing p {
		font-size: 2.0rem;
	}
}